In [12]:
import scipy

In [13]:
import pandas as pd

In [50]:
d=pd.read_excel(r"C:\Users\Admin\Dropbox\PC\Downloads\Wicoskin_data.xlsx")

In [15]:
d

,Unnamed: 0,Unnamed: 1,Res Net,Dense Net,Inception,OurNetR18,OurNetR34,OurNetR50,OurNetR101
0,ELBOW,P1,0.87,0.88,0.85,0.94,0.83,0.89,NaN
1,NaN,P2,0.87,0.85,0.83,0.78,0.78,0.82,NaN
2,NaN,R1,0.75,0.76,0.74,0.73,0.76,0.79,NaN
3,NaN,R2,0.92,0.92,0.91,0.96,0.85,0.91,NaN
4,FINGER,P3,0.83,0.79,0.84,0.87,0.88,0.89,NaN
5,NaN,P4,0.84,0.81,0.84,0.65,0.71,0.73,NaN
6,NaN,R3,0.74,0.68,0.74,0.59,0.68,0.72,NaN
7,NaN,R4,0.90,0.88,0.91,0.90,0.90,0.89,NaN
8,FOREARM,P5,0.87,0.81,0.88,0.98,0.95,0.89,NaN
9,NaN,P6,0.84,0.83,0.86,0.63,0.70,0.77,NaN
10,NaN,R5,0.72,0.72,0.75,0.41,0.59,0.73,NaN
11,NaN,R6,0.94,0.89,0.93,0.99,0.97,0.91,NaN
12,HUMURAS,P7,0.81,0.87,0.81,0.88,0.85,0.87,NaN
13,NaN,P8,0.86,0.88,0.87,0.89,0.84,0.90,NaN
14,NaN,R7,0.61,0.81,0.63,0.88,0.83,0.90,NaN
15,NaN,R8,0.95,0.92,0.94,0.89,0.86,0.87,NaN
16,SHOULDER,P9,0.86,0.86,0.88,0.75,0.92,0.70,NaN
17,NaN,P10,0.86,0.88,0.88,0.69,0.69,0.79,NaN
18,NaN,R9,0.84,0.81,0.87,0.64,0.55,0.82,NaN
19,NaN,R10,0.88,0.91,0.89,0.79,0.95,0.66,NaN
20,WRIST,P11,0.83,0.89,0.84,0.84,0.82,0.93,NaN
21,NaN,P12,0.80,0.92,0.81,0.79,0.83,0.80,NaN
22,NaN,R11,0.79,0.87,0.80,0.72,0.79,0.70,NaN
23,NaN,R12,0.84,0.93,0.85,0.89,0.86,0.96,NaN
24,HAND,P13,0.89,0.90,0.89,0.89,0.71,0.78,NaN
25,NaN,P14,0.87,0.92,0.87,0.69,0.78,0.75,NaN
26,NaN,R13,0.87,0.88,0.79,0.39,0.68,0.57,NaN
27,NaN,R14,0.87,0.93,0.93,0.97,0.81,0.89,NaN

In [34]:
group4=d['OurNetR18']
group5=d['OurNetR34']
group6=d['OurNetR50']
group1=d['Res Net']
group2=d['Dense Net']
group3=d['Inception']

In [35]:
import scipy.stats as stats

In [36]:
scipy.stats.ranksums(group2, group2)

RanksumsResult(statistic=-1.3355273078893417, pvalue=0.18170382376261363)

In [41]:
scipy.stats.ranksums(group2, group3)

RanksumsResult(statistic=0.9176629354822471, pvalue=0.3587953578869416)

In [45]:
scipy.stats.ranksums(group3, group4)

RanksumsResult(statistic=0.8603090020146066, pvalue=0.3896187319493748)

In [46]:
scipy.stats.ranksums(group3, group5)

RanksumsResult(statistic=1.8353258709644942, pvalue=0.06645742001693117)

In [47]:
scipy.stats.ranksums(group3, group6)

RanksumsResult(statistic=0.8685024210814124, pvalue=0.38511934748212173)

In [32]:
x,y=stats.wilcoxon(group2, group3)

In [55]:
path=r"C:\Users\Admin\OneDrive - Reliance Foundation Institution of Education and Research\Wil_results.xlsx"

In [56]:
df=pd.read_excel(path)

,Algorithm,Statistic Measures,Res Net,Dense Net,Inception,OurNetR18,OurNetR34,OurNetR50
0,Res Net,z-statistics,0.000000,-1.335527,-0.360510,0.573539,1.810746,0.573539
1,NaN,p-value,1.000000,0.181704,0.718465,0.566280,0.070180,0.566280
2,Dense Net,z-statistics,-1.335527,0.000000,0.566280,1.409268,2.335124,1.499396
3,NaN,p-value,0.181704,1.000000,0.358795,0.158756,0.019537,0.133771
4,Inception,z-statistics,-0.360510,0.566280,0.000000,0.860309,0.389619,0.868502
5,NaN,p-value,0.718465,0.358795,1.000000,0.389619,0.066457,0.385119
6,OurNetR18,z-statistics,0.573539,1.409268,0.860309,0.000000,0.278576,-0.491605
7,NaN,p-value,0.566280,0.158756,0.389619,1.000000,0.780570,0.622999
8,OurNetR34,z-statistics,1.810746,2.335124,0.389619,0.278576,0.000000,0.671860
9,NaN,p-value,0.070180,0.019537,0.066457,0.780570,1.000000,0.501673
10,OurNetR50,z-statistics,0.573539,1.499396,0.868502,-0.491605,-0.671860,0.000000
11,NaN,p-value,0.566280,0.133771,0.385119,0.622999,0.501673,1.000000

In [58]:
import seaborn as sns

In [63]:
dff

,Algorithm,Statistic Measures,Res Net,Dense Net,Inception,OurNetR18,OurNetR34,OurNetR50
1,NaN,p-value,1.000000,0.181704,0.718465,0.566280,0.070180,0.566280
2,Dense Net,z-statistics,-1.335527,0.000000,0.566280,1.409268,2.335124,1.499396
3,NaN,p-value,0.181704,1.000000,0.358795,0.158756,0.019537,0.133771
4,Inception,z-statistics,-0.360510,0.566280,0.000000,0.860309,0.389619,0.868502
5,NaN,p-value,0.718465,0.358795,1.000000,0.389619,0.066457,0.385119
6,OurNetR18,z-statistics,0.573539,1.409268,0.860309,0.000000,0.278576,-0.491605
7,NaN,p-value,0.566280,0.158756,0.389619,1.000000,0.780570,0.622999
8,OurNetR34,z-statistics,1.810746,2.335124,0.389619,0.278576,0.000000,0.671860
9,NaN,p-value,0.070180,0.019537,0.066457,0.780570,1.000000,0.501673
10,OurNetR50,z-statistics,0.573539,1.499396,0.868502,-0.491605,-0.671860,0.000000
11,NaN,p-value,0.566280,0.133771,0.385119,0.622999,0.501673,1.000000